.modal-content
    .modal-header#header_region
        button(type="button" data-dismiss="modal" aria-hidden="true").close
            | &times;
        h4.modal-title
            | #{title}
    .modal-body#content_region
    .modal-footer#content_footer
