.head-conteiner
    .head-logo
        a(href="/").header-logo
            .header-logo_title ujen
            .header-logo_domain .space
    #head-menu
    .head-user
        span.user-name Hello,
            span.user-name-username #{username}
            i.material-icons arrow_drop_down
        a.btn.user-logout Logout
            i.material-icons exit_to_app