.page
    .box
        .page-title
            h3 Users list
            p Control users

    .row
        .box
            h3 Contols
            #from-userslist
        .box
            h2 List
            table
                thead
                    tr
                        th
                            input(type="checkbox" name="select-all").js-th
                        th ID
                        th Admin
                        th Username
                        th E-mail
                        th Time created
                tbody#user-list

            button.remove-all Remove All