.page
    .box
        .page-title
            h3 Users list
            p Control users

    .row
        .box
            h3 Contols
            #from-userslist
        .box
            h2 List
            table
                thead
                    tr
                        th
                            input( name="select" type="checkbox")
                        th ID
                        th Admin
                        th Username
                        th E-mail
                        th Time created
                tbody#user-list

            button.btn.remove-all Remove All