.page
    .box
        .page-title
            h3 Users list
            p Control users

    .row
        .box
            h3 Contols
        .box
            h2 List
            table
                thead
                    tr
                        th ID
                        th Active
                        th Username
                        th E-mail
                        th Time created
                tbody#user-list