.box.login-box
    form.form-login
        .from-group
            input(type="name" name="username" required)
            span.highlight
            span.bar
            label Username
        .from-group
            input(type="password" name="password" required)
            span.highlight
            span.bar
            label Password
        .from-group
            button.logIn Log In
            a.btn Sign Up