.box.login-box
    .tile-form
        span Sign Up
    form.form-login
        .from-group
            input(type="name" name="username" required)
            span.highlight
            span.bar
            label Username
        .from-group
            input(type="email" name="email" required)
            span.highlight
            span.bar
            label E-mail
        .from-group
            input(type="password" name="password" required)
            span.highlight
            span.bar
            label Password
        .from-group.btns-control
            button.btn.logIn.Signup-btn Sign Up
            a.btn Back