form.users-control_from
    .from-group
        input(id="username" name="username" type="text"  required).form-control_input
        span.highlight
        span.bar
        label(for="username").from-control_label Username
    .from-group
        input(id="email" name="email" type="email"  required).form-control_input
        span.highlight
        span.bar
        label(for="email").from-control_label E-mail
    .from-group
        input(id="password" name="password" type="password"  required).form-control_input
        span.highlightspan.bar
        label(for="password").from-control_label Password
    .from-group
            input(id="admin" name="admin" type="checkbox" required).form-control_input
            label(for="admin").from-control_label Admin
    .from-group
        button.btn.bt-form-control.submit Send
        button.btn.bt-form-control.remove Clear