doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta( name="viewport" content="width=device-width,initial-scale=1")
        title AdminUi
        meta(name='description', content='')
        link(rel="stylesheet" href="css/index.css")
    body
        .row
            section#header_region
        .row
            section#page_region
        section#footer_region
        script(type="text/javascript" src="js/main.js")