.page
    .box
        .page-title
            h3 Settings
            p Sidebar settings
    .row
        .box
            h3 Add New Menu Item
            #settings-form-sidebar
        .box
            h3 All Items
            table
                thead
                    tr
                        th
                            input(type="checkbox" name="select-all").js-th
                        th ID
                        th Name
                        th Url
                tbody#sidebar-settings-list
            button.btn.remove Remove Select Item
