.page
    .box
        .page-title
            h3 Admin dashboard
            p All inform
    .row
        .box
                .users-dashboard
                    h3 Users
                    table
                        thead
                            tr
                                th ID
                                th Admin
                                th Username
                                th E-mail
                                th Time created
                        tbody#user-info
        .box
                .sidebar-dashboard
                    h3 Sidebar menu items
                    table
                        thead
                            tr
                                th ID
                                th Name
                                th Url
                        tbody#sidebar-info